<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hello!</title>
  <link rel="icon" type="image/png" href="/base/assets/icons/chat.png" >
  <link rel="stylesheet" href="/base/js/allsafecss.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="/base/alibs/jq3.js"></script>
  <script src="/base/alibs/jsyaml.js"></script>
  <script src="/base/js/allg.js"></script>
  <script src="/base/js/allf.js"></script>
</head>

<body>
  {% with messages = get_flashed_messages() %}
  {% if messages: %}
  <!-- <div>{{ messages[-1] }}</div> -->
  <script type="text/javascript">mPopupMessage('{{ messages[-1] }}',{fg:'red'})</script>
  {% endif %}
  {% endwith %}

  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="user">home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="login">login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="logout">logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="loader_holder" class="loader_off"><img style="width: 70px" src="/base/assets/icons/giphy.gif" /></div>

  {% if username == '': %}
  <form action="#" method="post">
    <div>Enter username:</div>
    <p><input type="text" name="username" /></p>
    <p><input type="submit" value="submit"></p>
  </form>
  {% elif username == 'peter' %}
  <div>HALLO!!!! {{ username }}</div>
  <script>document.write('hallohallohallo!!!!!!!!!!!!! {{ username }}')</script>
  {% else %}
  <script>document.write('<h2 style="padding:10px">Hello, {{ username }}!</h2>')</script>
  <form onsubmit="loader_on()" action="ask" method="post"  style="padding-left:10px">
    <div>Enter query:</div>
    <p><input type="text" name="query" id="iQuery" style="width:100%" value="{{ query }}"/></p>
    <input type="submit" value="submit">
  </form>
  
  <div id="dMain">
    <!-- <p id="dResponse">answer: {{ answer }}</p> -->
    <textarea style="width:96%;height:50%;padding:10px" >{{ answer }}</textarea>
  </div>
  {% endif %}

  <div id="dFooter" class="my">loading..</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/base/js/start.js"></script>

</html>